header{
    background: rgb(32, 33, 35);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Title */
header .header_title{
    margin-left: 20px;
    color: white;
}

header .header_title h3{
    font-size: 17px;
}

header .header_title h5{
    font-size: 12px;
}

/* Header navbar */
header .header_nav{
    background: white;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
}
